h1,h3{
	color: #222e42;
}

#listOfTasks {
	border-collapse: collapse;
	width:100%;
}

#listOfTasks th {
	text-align: left;
	border: 2px solid #d36200;
	padding: 8px;
	background-color: #5c61a8;
	color:#fcffff
}

#listOfTasks td{
	border: 1px solid #d36200;
	padding: 4px;
}

#listOfTasks tr:hover {
	background-color: #efe9c4
}

#listOfTasks input[type=button] {
	background-color: #ff8a38;
	color: white;
	padding: 7px 10px;
	margin: 2px 2px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=text], select {
	width: 30%;
	padding: 8px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 30%;
	background-color: #ff8a38;
	color: white;
	padding: 7px 10px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #c76432;
}